body {
  background-color: rgb(228, 233, 227);
  color: rgb(68, 68, 67);
  margin: 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  float: left;
}
